{% extends 'base.html' %}
{% from 'partials/_icons.html' import icon %}
{% from 'partials/_brand.html' import brand_mark with context %}

{% block body %}
<header class="navbar" id="navbar">
  <div class="navbar-inner">
    <a class="navbar-brand" href="{{ url_for('main.dashboard') }}">
      {{ brand_mark(30) }}<span>SupervisorMatch</span>
    </a>
    <button class="nav-toggle" id="navToggle" aria-label="Toggle menu">{{ icon('menu') }}</button>
    {% include 'partials/_navbar.html' %}
  </div>
</header>

<main class="content">
  {% include 'partials/_flashes.html' %}
  {% block content %}{% endblock %}
</main>
{% endblock %}
